@import "base.scss";

.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}


.item {
  // border: blue solid 2px;
  padding: 5px;
  display: grid;
  justify-items: center;
}

button {

}

.dataTable {
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
  border-color: #707070;
  border-spacing: 10px;
  font: 20px "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif, serif;
  padding: 0;
  box-shadow: 1px 1px 3px 1px #6E6D6D;
  table-layout: fixed;

  th {
    color: #FFFFFF;
    background: $table-header-background1;
    font-weight: bold;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    text-align: center;
    vertical-align: top;
  }

  .th2 {
    background: $table-header-background2;
  }

  tr {
    color: #000000;
    font-weight: normal;
    background: #bbccFF;

    td {
      font-size: 0.8em;
      padding: 0.5em 0.6em;
      text-align: left;
      vertical-align: top;
      border-style: solid;
      border-width: 1px;
      border-color: #bbb;
      margin-left: 1.0rem;
      margin-right: 1.0rem;
    }

    .column-centered {
      text-align: center;
    }

    .column-rightadjusted {
      text-align: right;
    }
  }


  tr:nth-child(odd) td {
    background: rgba(187, 204, 255, 0.1);
  }

  tr:nth-child(odd):hover td {
    background: rgba(150, 170, 200, 1.0);
  }

  tr:nth-child(even) td {
    background: #f8f8f8;
  }

  tr:nth-child(even):hover td {
    background: yellow;
  }
}




