{% load static i18n %}

<!DOCTYPE html>

<html lang="de">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}blauen{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <!-- CSS -->
    <link href="{% static 'bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet">

    <!-- Project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
</head>

<body class="d-flex flex-column">

<div class="main-container">
    <header class="box1" style="min-height: 3.5em;">
        {% include "menu.html" %}
    </header>

    <main role="main" id="page-content" class="content">
        {% if messages %}
            <div class="container">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}
        {% endblock content %}
    </main>

    <footer class="box4">
        <div class="container">
            &nbsp;
        </div>
    </footer>
</div>

<!-- Third-party javascript libraries go here -->
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'jquery/js.cookie.js' %}"></script>
<script src="{% static 'bootstrap4/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/moment-with-locales.min.js' %}"></script>

<!-- Project specific javascript -->
<script src="{% static 'js/project.js' %}"></script>
{% block javascript %}{% endblock javascript %}
</body>
</html>

