### OSX ###
.DS_Store
.AppleDouble
.LSOverride

#pycharm
.idea


### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

# Basics
*.py[cod]
__pycache__
.pytest_cache


# Logs
logs
*.log
pip-log.txt
npm-debug.log*

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov


# Translations
*.mo
*.pot

# Pycharm
.idea/*

# VSCODE
.pytest_cache/*


# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Compass
.sass-cache

# virtual environments
.env_blauen
.venv

# User-uploaded media
dproject/media/

# collected static file directory
staticfiles/

# local database sqlite
**/db.sqlite3

# SQL dumps
*.sql

# pid and socket file
*.pid
*.sock

# core dumps
core
