{% extends "base.html" %}
{% load static i18n %}
{% load i18n %}

{% block title %}{% trans 'Daten' %}{% endblock %}

{% block css %}
    <link href="{% static 'css/Chart.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/pthChart.css' %}" rel="stylesheet">
{% endblock %}

{% block leftAside %}
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <div>
                <label for="{{ form.dauer.id_for_label }}">Dauer</label>
            </div>
            <div>
                {{ form.dauer }}
            </div>
            <div>
                <label for="{{ form.beginn.id_for_label }}">von</label>
            </div>
            <div>
                {{ form.beginn }}
            </div>
            <div>
                <label for="{{ form.ende.id_for_label }}">bis</label>
            </div>
            <div>
                {{ form.ende }}
            </div>
            <div>
                <input id="submit-button" class="btn btn-info" type="submit" value="..."
                       style="visibility: hidden">
            </div>
        </form>
    </div>
{% endblock leftAside %}

{% block content %}
    <div class="container">
        <div>
            <h2>Termperatur, Luftdruck und relative Feuchte</h2>
        </div>
        <div class="row" style="height: 600px !important;">
            <canvas id="myChart"></canvas>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script>
        $(document).ready(function () {
            var e = document.getElementById("id_dauer");
            var text = e.options[e.selectedIndex].text;
            var b = document.getElementById("submit-button");
            console.log(text);
            if (text === "Eingabe") {
                b.disabled = false;
                b.style.visibility = "visible";
            } else {
                b.disabled = true;
                b.style.visibility = "hidden";
            }


            // var endpoint = '/tph/api/chart/data/'
            var endpoint = "{% url 'tph:chart_data' %}";
            var data_sets = [];
            var labels = [];
            let time_unit = "";
            var datepicker_beginn = document.getElementById("id_beginn");
            var datepicker_ende = document.getElementById("id_ende");
            var data = {
                beginn: datepicker_beginn.value,
                ende: datepicker_ende.value,
                dauer: text
            };
            $.ajax({
                method: "GET",
                url: endpoint,
                data: data,
                success: function (data) {
                    labels = data.labels;
                    data_sets = data.y_sets,
                        time_unit = data.unit,
                        setChart()
                },
                error: function (error_data) {
                    console.log("error");
                    console.log(error_data)
                }
            });

            function setChart() {
                var ctx = document.getElementById("myChart");
                var myChart = new Chart(ctx, {
                    type: 'line',

                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Innentemperatur',
                            backgroundColor: 'rgba(255, 255, 255, 0.0)',
                            borderColor: 'rgba(255,0,0,1)',
                            borderWidth: 1,
                            data: data_sets[0],
                            yAxisID: 'y-axis-1'
                        },
                            {
                                label: 'Aussentemperatur',
                                backgroundColor: 'rgba(255, 255, 255, 0.0)',
                                borderColor: 'rgba(0,255,0,1)',
                                borderWidth: 1,
                                lineThickness: 1,
                                data: data_sets[1],
                                yAxisID: 'y-axis-1'
                            },
                            {
                                label: 'Luftdruck',
                                backgroundColor: 'rgba(255, 255, 255, 0.0)',
                                borderColor: 'rgba(0,0,255,1)',
                                borderWidth: 1,
                                lineThickness: 1,
                                data: data_sets[2],
                                yAxisID: 'y-axis-2'
                            },
                            {
                                label: 'Luftfeuchte',
                                backgroundColor: 'rgba(255, 255, 255, 0.0)',
                                borderColor: 'rgba(0,0,0,1)',
                                borderWidth: 1,
                                lineThickness: 1,
                                data: data_sets[3],
                                yAxisID: 'y-axis-3'
                            }
                        ]
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                type: 'time',
                                time: {
                                    unit: time_unit,
                                    displayFormats: {
                                        hour: "HH:mm",
                                        day: "MMM D",
                                        week: "ll",
                                        month: "MM  YYYY"
                                    }
                                },
                                gridLines: {
                                    color: 'rgba(0,0,0,1)',
                                    lineWidth: 1
                                },
                                ticks: {
                                    maxRotation: 60,
                                    minRotation: 45

                                }
                            }],
                            yAxes: [{
                                type: 'linear',
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Temperatur °C'
                                },
                                position: 'left',
                                id: 'y-axis-1',
                                gridLines: {
                                    color: 'rgba(0,0,0,1)',
                                    lineWidth: 1
                                }
                            },
                                {
                                    type: 'linear',
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Luftdruck mBar'
                                    },
                                    position: 'right',
                                    id: 'y-axis-2',
                                    gridLines: {
                                        color: 'rgba(0,0,0,1)',
                                        lineWidth: 1
                                    }
                                },
                                {
                                    type: 'linear',
                                    display: true,
                                    scaleLabel: {
                                        ticks: {min: 0},
                                        display: true,
                                        labelString: 'rel.Luftfeuchte in %'
                                    },
                                    position: 'right',
                                    id: 'y-axis-3',
                                    gridLines: {
                                        color: 'rgba(0,0,0,1)',
                                        lineWidth: 1
                                    }
                                }]
                        },
                        legend: {
                            labels: {
                                // This more specific font property overrides the global property
                                fontColor: 'black',
                                fontSize: 15,
                            }
                        },
                        responsive: true
                    }
                });
            }
        });
    </script>
    <script>
        /*
         * Der Submit-Button ist nur sichtbar und aktiv, wenn in der Kombobox
         * die Option Eingabe gewählt ist.
         */
        $('#id_dauer').on('change', function () {
            var e = document.getElementById("id_dauer");
            var text = e.options[e.selectedIndex].text;
            var b = document.getElementById("submit-button");
            console.log(text);
            if (text === "Eingabe") {
                b.disabled = false;
                b.style.visibility = "visible";
                console.log("button enabled");
            } else {
                b.disabled = true;
                b.style.visibility = "hidden";
                console.log("button disabled");
                this.form.submit();
            }
        });
    </script>

{% endblock javascript %}
