{% extends "base.html" %}
{% load static %}
{% load tz %}

{% block title %}Daten{% endblock %}

{% block css %}
    <link href="{% static 'css/actual-data.css' %}" rel="stylesheet">
{% endblock %}

{% block leftAside %}


{% endblock leftAside %}

{% block content %}
    <div class="container">
        <div>
            <h2>Letzte Wetterdaten</h2>
            <br/>
        </div>
            <table>
                     <tr>
                        <td>Datum/Zeit</td>
                        <td class="column-rightadjusted">
                            {% localtime on %}
                            {{ object.datumzeit|date:'Y-m-d /  H:i' }}
                            {% endlocaltime %}
                        </td>
                    </tr>
                    <tr>
                        <td>Temperatur</td>
                        <td class="column-rightadjusted">{{ object.t}} °C</td>
                    </tr>
                <tr>
                        <td>Luftdruck</td>
                        <td class="column-rightadjusted">{{ object.p}} mBar</td>
                    </tr>
                {% if object.h is not None %}
                <tr>
                        <td>relative Luftfeuchte</td>
                        <td class="column-rightadjusted">{{ object.h}} %</td>
                    </tr>
                {% endif %}
                </table>
    </div>

{% endblock %}
