{% extends "base.html" %}
{% block head %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}

  <div class="container text-center">
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Django Plotly Example</a>
    </nav>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="card" style="width: 100%;margin-top: 15px">
          <div class="card-body">
            <h5 class="card-title">Line Graph</h5>
              {{ line_plot1|safe }}
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="card" style="width: 100%;margin-top: 15px">
          <div class="card-body">
            <h5 class="card-title">Line Graph</h5>
              {{ line_plot2|safe }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card" style="width:80%;margin-top: 15px;">
        <div class="card-body">
          <h5 class="card-title">Line Graph</h5>
            {{ line_plot3|safe }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card" style="width: 100%;margin-top: 15px">
        <div class="card-body">
          <h5 class="card-title">Line Graph</h5>
            {{ line_plot4|safe }}
        </div>
      </div>
    </div>
  </div>


  <div class="card" style="width: 100%;margin-top: 15px">

    <div class="card-body">
      <h5 class="card-title">Topographical 3D Surface Plot</h5>
        {{ piechart|safe }}
    </div>
  </div>
  <div class="card" style="width: 100%;margin-top: 15px">

    <div class="card-body">
      <h5 class="card-title">Topographical 3D Surface Plot</h5>
        {{ 3dplot|safe }}
    </div>
  </div>

{% endblock %}

{% block javascript %}
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
          integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
          crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
          integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
          crossorigin="anonymous"></script>
{% endblock javascript %}
