{% extends "base.html" %}
{% load static %}
{% load common_tags %}

{% block css %}
  <link href="{% static 'css/datepicker1.css' %}" rel="stylesheet">
  <link href="{% static 'css/pv.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Elektrizität: Produktion/Verbrauch{% endblock %}

{% block content %}
  <div class="container">
    <div class="item">
      <h1>Produktion/Verbrauch</h1>

      <div class="item">
        <form action="" method="post">
          {% csrf_token %}
          <div class="chart-form-div">
            <div>
              <label class="label1" for="{{ form.begin.id_for_label }}">von</label>
              {{ form.begin }}
              <label class="label2" for="{{ form.end.id_for_label }}">bis</label>
              {{ form.end }}
            </div>
            <div>

              <label class="label2" for="{{ form.period.id_for_label }}">Art</label>
              {{ form.period }}
              <input id="submit-button" class="button" type="submit" value="...">
            </div>
          </div>
        </form>
      </div>
    </div>
    <br/>
    {% if errors %}
      <div class="item">
        {{ errors }}
      </div>
    {% endif %}

    <div class="item">
      {% if object_list %}
        <table class="dataTable">
          <thead>
          <tr>
            <th>Datum</th>
            <th>Ver.</th>
            <th>Prod.</th>
            <th>Ertrag</th>
          </tr>
          </thead>
          <tbody>
          {% for item in object_list %}
            <tr>
              <td>{{ item.date_from|date:"d.m.Y" }}</td>
              <td class="column-rightadjusted">{{ item.consumption|dec_format }}</td>
              <td class="column-rightadjusted">{{ item.production|dec_format }}</td>
              <td class="column-rightadjusted">{{ item.difference|dec_format }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <br/>
        <h3>Keine entsprechenden Daten vorhanden!</h3>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/datepicker.js' %}"></script>
  <script src="{% static 'js/datepicker-de.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $(function () {
        var tr = $('.dataTable').find('tr');
        tr.bind('click', function (event) {
          var values = '';
          tr.removeClass('row-highlight');

        });
      });
      $(".datePicker").datepicker();
    });
  </script>
{% endblock javascript %}
